body
{
    font-family: 'PT Sans Narrow', sans-serif;
             background-image: url("dark.png");
     /* Background pattern from subtlepatterns.com */

}

#container
{
width: 1000px;
margin-left: auto;
margin-right: auto;
text-align:justify;
}

#logo
{
    /*background-image: url("1743.jpg");*/
    background-color: black;
    text-align:center;
    padding: 10px;
    margin-bottom: 10px;

}

#logo > h1
{
    color: white;
    text-shadow: 2px 2px 10px white;

}

#menu
{
    float: left;
    background-color: #B8BDF5;
    width: 120px;
    padding: 10px;
    min-height: 620px;
}

.option
{
    min-width: 50px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-bottom: 2px dotted #444444;
    opacity: 0.8;
    
}

.option:hover
{
    background-color: #DBDBC8;
    cursor: pointer;
}


#content
{
    float: left;
    padding: 20px;
    width: 620px;
    height: 600px;
    background-color: grey;
    margin-right: 10px;
    margin-left: 10px;
}

#ad
{
    float: left;
    width:160px;
    min-height: 620px;
    padding:10px;
    background-color: #B8BDF5;
}

#luka
{    
clear:both;
height: 10px;
}
#footer
{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}